svg {
  width: var(--icon-size, 24px);
  height: var(--icon-size, 24px);
}

.accent-color {
  svg {
    path {
      fill: var(--md-sys-color-primary-container);
      stroke: var(--md-sys-color-primary-container);
    }

    polygon {
      fill: var(--md-sys-color-primary-container);
      stroke: var(--md-sys-color-primary-container);
    }

    &:hover {
      path {
        fill: var(--md-sys-color-primary);
        stroke: var(--md-sys-color-primary);
      }

      polygon {
        fill: var(--md-sys-color-primary);
        stroke: var(--md-sys-color-primary);
      }
    }
  }
}
