@use "./../../../assets/colors" as colors;

.icon {
  display: inline-block;

  svg {
    width: 25px;
    height: 25px;
  }

  .primary {
    svg {
      fill: colors.$primary;
    }
  }

  .white {
    svg {
      fill: colors.$white;
    }
  }
}
