.breadcrumb {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.875rem;
  color: var(--text-secondary);
  margin: 2rem 0;

  &__active {
    font-weight: 500;
  }
}

h2 {
  margin: 5vh 0;
  text-align: center;
}

app-work {
  margin-bottom: 5vh;
  padding-bottom: 5vh;
  border-bottom: 1px solid var(--border-color);
}
