.dark {
  --md-sys-color-primary: rgb(255 180 172);
  --md-sys-color-surface-tint: rgb(255 180 172);
  --md-sys-color-on-primary: rgb(102 7 10);
  --md-sys-color-primary-container: rgb(164 55 49);
  --md-sys-color-on-primary-container: rgb(255 201 195);
  --md-sys-color-secondary: rgb(255 255 255);
  --md-sys-color-on-secondary: rgb(48 49 45);
  --md-sys-color-secondary-container: rgb(228 226 221);
  --md-sys-color-on-secondary-container: rgb(101 100 97);
  --md-sys-color-tertiary: rgb(228 194 123);
  --md-sys-color-on-tertiary: rgb(63 46 0);
  --md-sys-color-tertiary-container: rgb(193 162 94);
  --md-sys-color-on-tertiary-container: rgb(77 56 0);
  --md-sys-color-error: rgb(255 180 171);
  --md-sys-color-on-error: rgb(105 0 4);
  --md-sys-color-error-container: rgb(186 26 26);
  --md-sys-color-on-error-container: rgb(255 205 199);
  --md-sys-color-background: rgb(27 17 16);
  --md-sys-color-on-background: rgb(243 222 219);
  --md-sys-color-surface: rgb(20 19 19);
  --md-sys-color-on-surface: rgb(229 226 225);
  --md-sys-color-surface-variant: rgb(75 70 64);
  --md-sys-color-on-surface-variant: rgb(205 197 189);
  --md-sys-color-outline: rgb(150 144 136);
  --md-sys-color-outline-variant: rgb(75 70 64);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(229 226 225);
  --md-sys-color-inverse-on-surface: rgb(49 48 48);
  --md-sys-color-inverse-primary: rgb(166 57 50);
  --md-sys-color-primary-fixed: rgb(255 218 214);
  --md-sys-color-on-primary-fixed: rgb(65 0 2);
  --md-sys-color-primary-fixed-dim: rgb(255 180 172);
  --md-sys-color-on-primary-fixed-variant: rgb(134 33 30);
  --md-sys-color-secondary-fixed: rgb(228 226 221);
  --md-sys-color-on-secondary-fixed: rgb(27 28 25);
  --md-sys-color-secondary-fixed-dim: rgb(200 198 194);
  --md-sys-color-on-secondary-fixed-variant: rgb(71 71 68);
  --md-sys-color-tertiary-fixed: rgb(255 223 156);
  --md-sys-color-on-tertiary-fixed: rgb(37 26 0);
  --md-sys-color-tertiary-fixed-dim: rgb(228 194 123);
  --md-sys-color-on-tertiary-fixed-variant: rgb(90 67 6);
  --md-sys-color-surface-dim: rgb(20 19 19);
  --md-sys-color-surface-bright: rgb(58 57 56);
  --md-sys-color-surface-container-lowest: rgb(14 14 14);
  --md-sys-color-surface-container-low: rgb(28 27 27);
  --md-sys-color-surface-container: rgb(32 31 31);
  --md-sys-color-surface-container-high: rgb(43 42 41);
  --md-sys-color-surface-container-highest: rgb(53 52 52);
}
