.dark {
  --md-sys-color-primary: rgb(122 30 46);
  --md-sys-color-surface-tint: rgb(122 30 46);
  --md-sys-color-on-primary: rgb(255 255 255);
  --md-sys-color-primary-container: rgb(155 69 82);
  --md-sys-color-on-primary-container: rgb(255 241 243);
  --md-sys-color-secondary: rgb(198 176 181);
  --md-sys-color-on-secondary: rgb(42 20 25);
  --md-sys-color-secondary-container: rgb(76 55 61);
  --md-sys-color-on-secondary-container: rgb(246 232 235);
  --md-sys-color-tertiary: rgb(192 157 135);
  --md-sys-color-on-tertiary: rgb(44 28 19);
  --md-sys-color-tertiary-container: rgb(122 89 73);
  --md-sys-color-on-tertiary-container: rgb(255 241 233);
  --md-sys-color-error: rgb(255 171 171);
  --md-sys-color-on-error: rgb(102 0 17);
  --md-sys-color-error-container: rgb(170 49 62);
  --md-sys-color-on-error-container: rgb(255 236 238);
  --md-sys-color-background: rgb(18 14 15);
  --md-sys-color-on-background: rgb(244 232 235);
  --md-sys-color-surface: rgb(22 17 18);
  --md-sys-color-on-surface: rgb(240 229 232);
  --md-sys-color-surface-variant: rgb(64 48 53);
  --md-sys-color-on-surface-variant: rgb(214 195 198);
  --md-sys-color-outline: rgb(150 126 130);
  --md-sys-color-outline-variant: rgb(79 62 67);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(244 232 235);
  --md-sys-color-inverse-on-surface: rgb(38 30 32);
  --md-sys-color-inverse-primary: rgb(145 63 74);
  --md-sys-color-primary-fixed: rgb(255 218 226);
  --md-sys-color-on-primary-fixed: rgb(47 0 15);
  --md-sys-color-primary-fixed-dim: rgb(193 120 134);
  --md-sys-color-on-primary-fixed-variant: rgb(89 18 34);
  --md-sys-color-secondary-fixed: rgb(243 224 228);
  --md-sys-color-on-secondary-fixed: rgb(40 28 30);
  --md-sys-color-secondary-fixed-dim: rgb(198 176 181);
  --md-sys-color-on-secondary-fixed-variant: rgb(71 52 57);
  --md-sys-color-tertiary-fixed: rgb(255 230 210);
  --md-sys-color-on-tertiary-fixed: rgb(41 22 13);
  --md-sys-color-tertiary-fixed-dim: rgb(192 157 135);
  --md-sys-color-on-tertiary-fixed-variant: rgb(84 63 49);
  --md-sys-color-surface-dim: rgb(18 14 15);
  --md-sys-color-surface-bright: rgb(52 40 43);
  --md-sys-color-surface-container-lowest: rgb(12 9 10);
  --md-sys-color-surface-container-low: rgb(25 19 20);
  --md-sys-color-surface-container: rgb(32 24 26);
  --md-sys-color-surface-container-high: rgb(42 34 36);
  --md-sys-color-surface-container-highest: rgb(52 43 45);
}
