.dark-medium-contrast {
  --md-sys-color-primary: rgb(255 210 205);
  --md-sys-color-surface-tint: rgb(255 179 172);
  --md-sys-color-on-primary: rgb(72 19 17);
  --md-sys-color-primary-container: rgb(204 123 116);
  --md-sys-color-on-primary-container: rgb(0 0 0);
  --md-sys-color-secondary: rgb(255 212 179);
  --md-sys-color-on-secondary: rgb(61 30 0);
  --md-sys-color-secondary-container: rgb(194 131 73);
  --md-sys-color-on-secondary-container: rgb(0 0 0);
  --md-sys-color-tertiary: rgb(255 215 137);
  --md-sys-color-on-tertiary: rgb(51 35 0);
  --md-sys-color-tertiary-container: rgb(176 139 61);
  --md-sys-color-on-tertiary-container: rgb(0 0 0);
  --md-sys-color-error: rgb(255 210 204);
  --md-sys-color-on-error: rgb(72 19 15);
  --md-sys-color-error-container: rgb(204 123 114);
  --md-sys-color-on-error-container: rgb(0 0 0);
  --md-sys-color-background: rgb(26 17 16);
  --md-sys-color-on-background: rgb(241 222 220);
  --md-sys-color-surface: rgb(25 17 20);
  --md-sys-color-on-surface: rgb(255 255 255);
  --md-sys-color-surface-variant: rgb(82 67 67);
  --md-sys-color-on-surface-variant: rgb(238 215 215);
  --md-sys-color-outline: rgb(194 173 173);
  --md-sys-color-outline-variant: rgb(159 140 140);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(238 223 226);
  --md-sys-color-inverse-on-surface: rgb(48 40 43);
  --md-sys-color-inverse-primary: rgb(116 52 48);
  --md-sys-color-primary-fixed: rgb(255 218 214);
  --md-sys-color-on-primary-fixed: rgb(44 1 2);
  --md-sys-color-primary-fixed-dim: rgb(255 179 172);
  --md-sys-color-on-primary-fixed-variant: rgb(94 35 32);
  --md-sys-color-secondary-fixed: rgb(255 220 193);
  --md-sys-color-on-secondary-fixed: rgb(31 12 0);
  --md-sys-color-secondary-fixed-dim: rgb(255 183 122);
  --md-sys-color-on-secondary-fixed-variant: rgb(84 44 0);
  --md-sys-color-tertiary-fixed: rgb(255 222 162);
  --md-sys-color-on-tertiary-fixed: rgb(25 16 0);
  --md-sys-color-tertiary-fixed-dim: rgb(235 193 108);
  --md-sys-color-on-tertiary-fixed-variant: rgb(71 51 0);
  --md-sys-color-surface-dim: rgb(25 17 20);
  --md-sys-color-surface-bright: rgb(76 66 69);
  --md-sys-color-surface-container-lowest: rgb(12 6 8);
  --md-sys-color-surface-container-low: rgb(35 27 30);
  --md-sys-color-surface-container: rgb(46 38 41);
  --md-sys-color-surface-container-high: rgb(57 48 51);
  --md-sys-color-surface-container-highest: rgb(69 59 62);
}
