.dark-medium-contrast {
  --md-sys-color-primary: rgb(255 210 205);
  --md-sys-color-surface-tint: rgb(255 180 172);
  --md-sys-color-on-primary: rgb(84 0 4);
  --md-sys-color-primary-container: rgb(232 105 95);
  --md-sys-color-on-primary-container: rgb(0 0 0);
  --md-sys-color-secondary: rgb(255 255 255);
  --md-sys-color-on-secondary: rgb(48 49 45);
  --md-sys-color-secondary-container: rgb(228 226 221);
  --md-sys-color-on-secondary-container: rgb(72 72 69);
  --md-sys-color-tertiary: rgb(251 216 143);
  --md-sys-color-on-tertiary: rgb(50 35 0);
  --md-sys-color-tertiary-container: rgb(193 162 94);
  --md-sys-color-on-tertiary-container: rgb(37 25 0);
  --md-sys-color-error: rgb(255 210 204);
  --md-sys-color-on-error: rgb(84 0 3);
  --md-sys-color-error-container: rgb(255 84 73);
  --md-sys-color-on-error-container: rgb(0 0 0);
  --md-sys-color-background: rgb(27 17 16);
  --md-sys-color-on-background: rgb(243 222 219);
  --md-sys-color-surface: rgb(20 19 19);
  --md-sys-color-on-surface: rgb(255 255 255);
  --md-sys-color-surface-variant: rgb(75 70 64);
  --md-sys-color-on-surface-variant: rgb(227 219 210);
  --md-sys-color-outline: rgb(184 177 168);
  --md-sys-color-outline-variant: rgb(150 143 135);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(229 226 225);
  --md-sys-color-inverse-on-surface: rgb(43 42 41);
  --md-sys-color-inverse-primary: rgb(136 34 31);
  --md-sys-color-primary-fixed: rgb(255 218 214);
  --md-sys-color-on-primary-fixed: rgb(45 0 1);
  --md-sys-color-primary-fixed-dim: rgb(255 180 172);
  --md-sys-color-on-primary-fixed-variant: rgb(110 15 15);
  --md-sys-color-secondary-fixed: rgb(228 226 221);
  --md-sys-color-on-secondary-fixed: rgb(17 17 15);
  --md-sys-color-secondary-fixed-dim: rgb(200 198 194);
  --md-sys-color-on-secondary-fixed-variant: rgb(54 54 51);
  --md-sys-color-tertiary-fixed: rgb(255 223 156);
  --md-sys-color-on-tertiary-fixed: rgb(24 16 0);
  --md-sys-color-tertiary-fixed-dim: rgb(228 194 123);
  --md-sys-color-on-tertiary-fixed-variant: rgb(70 51 0);
  --md-sys-color-surface-dim: rgb(20 19 19);
  --md-sys-color-surface-bright: rgb(69 68 68);
  --md-sys-color-surface-container-lowest: rgb(8 7 7);
  --md-sys-color-surface-container-low: rgb(30 29 29);
  --md-sys-color-surface-container: rgb(40 40 39);
  --md-sys-color-surface-container-high: rgb(51 50 50);
  --md-sys-color-surface-container-highest: rgb(62 61 61);
}
