.light {
  --md-sys-color-primary: rgb(144 74 68);
  --md-sys-color-surface-tint: rgb(144 74 68);
  --md-sys-color-on-primary: rgb(255 255 255);
  --md-sys-color-primary-container: rgb(255 218 214);
  --md-sys-color-on-primary-container: rgb(115 51 47);
  --md-sys-color-secondary: rgb(136 82 28);
  --md-sys-color-on-secondary: rgb(255 255 255);
  --md-sys-color-secondary-container: rgb(255 220 193);
  --md-sys-color-on-secondary-container: rgb(107 59 5);
  --md-sys-color-tertiary: rgb(121 89 12);
  --md-sys-color-on-tertiary: rgb(255 255 255);
  --md-sys-color-tertiary-container: rgb(255 222 162);
  --md-sys-color-on-tertiary-container: rgb(92 66 0);
  --md-sys-color-error: rgb(144 74 67);
  --md-sys-color-on-error: rgb(255 255 255);
  --md-sys-color-error-container: rgb(255 218 214);
  --md-sys-color-on-error-container: rgb(115 51 45);
  --md-sys-color-background: rgb(255 248 247);
  --md-sys-color-on-background: rgb(35 25 24);
  --md-sys-color-surface: rgb(255 248 248);
  --md-sys-color-on-surface: rgb(33 25 28);
  --md-sys-color-surface-variant: rgb(244 221 221);
  --md-sys-color-on-surface-variant: rgb(82 67 67);
  --md-sys-color-outline: rgb(133 115 115);
  --md-sys-color-outline-variant: rgb(215 193 194);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(55 46 49);
  --md-sys-color-inverse-on-surface: rgb(253 237 241);
  --md-sys-color-inverse-primary: rgb(255 179 172);
  --md-sys-color-primary-fixed: rgb(255 218 214);
  --md-sys-color-on-primary-fixed: rgb(59 9 8);
  --md-sys-color-primary-fixed-dim: rgb(255 179 172);
  --md-sys-color-on-primary-fixed-variant: rgb(115 51 47);
  --md-sys-color-secondary-fixed: rgb(255 220 193);
  --md-sys-color-on-secondary-fixed: rgb(46 21 0);
  --md-sys-color-secondary-fixed-dim: rgb(255 183 122);
  --md-sys-color-on-secondary-fixed-variant: rgb(107 59 5);
  --md-sys-color-tertiary-fixed: rgb(255 222 162);
  --md-sys-color-on-tertiary-fixed: rgb(38 25 0);
  --md-sys-color-tertiary-fixed-dim: rgb(235 193 108);
  --md-sys-color-on-tertiary-fixed-variant: rgb(92 66 0);
  --md-sys-color-surface-dim: rgb(229 214 218);
  --md-sys-color-surface-bright: rgb(255 248 248);
  --md-sys-color-surface-container-lowest: rgb(255 255 255);
  --md-sys-color-surface-container-low: rgb(255 240 243);
  --md-sys-color-surface-container: rgb(250 234 238);
  --md-sys-color-surface-container-high: rgb(244 228 232);
  --md-sys-color-surface-container-highest: rgb(238 223 226);
}
