.light {
  --md-sys-color-primary: rgb(132 31 28);
  --md-sys-color-surface-tint: rgb(166 57 50);
  --md-sys-color-on-primary: rgb(255 255 255);
  --md-sys-color-primary-container: rgb(164 55 49);
  --md-sys-color-on-primary-container: rgb(255 201 195);
  --md-sys-color-secondary: rgb(95 94 91);
  --md-sys-color-on-secondary: rgb(255 255 255);
  --md-sys-color-secondary-container: rgb(240 238 233);
  --md-sys-color-on-secondary-container: rgb(108 108 104);
  --md-sys-color-tertiary: rgb(116 91 30);
  --md-sys-color-on-tertiary: rgb(255 255 255);
  --md-sys-color-tertiary-container: rgb(193 162 94);
  --md-sys-color-on-tertiary-container: rgb(77 56 0);
  --md-sys-color-error: rgb(147 0 9);
  --md-sys-color-on-error: rgb(255 255 255);
  --md-sys-color-error-container: rgb(186 26 26);
  --md-sys-color-on-error-container: rgb(255 205 199);
  --md-sys-color-background: rgb(255 248 247);
  --md-sys-color-on-background: rgb(36 25 24);
  --md-sys-color-surface: rgb(253 248 247);
  --md-sys-color-on-surface: rgb(28 27 27);
  --md-sys-color-surface-variant: rgb(234 225 216);
  --md-sys-color-on-surface-variant: rgb(75 70 64);
  --md-sys-color-outline: rgb(124 118 111);
  --md-sys-color-outline-variant: rgb(205 197 189);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(49 48 48);
  --md-sys-color-inverse-on-surface: rgb(244 240 239);
  --md-sys-color-inverse-primary: rgb(255 180 172);
  --md-sys-color-primary-fixed: rgb(255 218 214);
  --md-sys-color-on-primary-fixed: rgb(65 0 2);
  --md-sys-color-primary-fixed-dim: rgb(255 180 172);
  --md-sys-color-on-primary-fixed-variant: rgb(134 33 30);
  --md-sys-color-secondary-fixed: rgb(228 226 221);
  --md-sys-color-on-secondary-fixed: rgb(27 28 25);
  --md-sys-color-secondary-fixed-dim: rgb(200 198 194);
  --md-sys-color-on-secondary-fixed-variant: rgb(71 71 68);
  --md-sys-color-tertiary-fixed: rgb(255 223 156);
  --md-sys-color-on-tertiary-fixed: rgb(37 26 0);
  --md-sys-color-tertiary-fixed-dim: rgb(228 194 123);
  --md-sys-color-on-tertiary-fixed-variant: rgb(90 67 6);
  --md-sys-color-surface-dim: rgb(221 217 216);
  --md-sys-color-surface-bright: rgb(253 248 247);
  --md-sys-color-surface-container-lowest: rgb(255 255 255);
  --md-sys-color-surface-container-low: rgb(247 243 242);
  --md-sys-color-surface-container: rgb(241 237 236);
  --md-sys-color-surface-container-high: rgb(235 231 230);
  --md-sys-color-surface-container-highest: rgb(229 226 225);
}
