@use "../assets/colors" as colors;

.title {
  * {
    text-align: center;
  }

  h1 {
    color: colors.$primary;
  }
}

.summary {
  text-align: center;
}

.social-links {
  display: flex;
  flex-flow: row;
  justify-content: center;
  margin: 20px 0;

  & > * {
    display: inherit;
    cursor: pointer;
    margin: 0 5px;
    font-size: 32px;
  }

  *:hover {
    color: colors.$primary;
  }
}

.download {
  display: flex;
  flex-flow: row;
  justify-content: center;
  margin: 20px 0;

  * {
    display: inherit;
    margin: 0 10px;
    cursor: pointer;
  }
}

.footer {
  text-align: center;
  margin: 20px 0 10px;
  font-size: 14px;
  color: colors.$secondary;
}
