@use "../assets/colors" as colors;

.title,
.wip {
  * {
    text-align: center;
  }

  h1 {
    color: colors.$primary;
  }
}

.summary {
  text-align: center;
}

.social-links {
  display: flex;
  flex-flow: row;
  justify-content: center;
  margin: 20px 0;

  & > * {
    display: inherit;
    cursor: pointer;
    margin: 0 5px;
    font-size: 32px;
  }

  *:hover {
    color: colors.$primary;
  }
}

.download {
  display: flex;
  flex-flow: row;
  justify-content: center;
  margin: 20px 0;

  * {
    display: inherit;
    margin: 0 10px;
    cursor: pointer;
  }
}

.experience {
  margin-bottom: 32px;

  &__title {
    display: flex;
    margin-bottom: 10px;

    img {
      height: 50px;
      margin-right: 10px;
    }

    &__left {
      width: 100%;

      &__position {
        font-weight: bold;
        color: colors.$white;
      }
    }

    &__right {
      display: flex;
      flex-flow: column;
      align-items: flex-end;

      &__period {
        font-style: italic;
        white-space: nowrap;
      }
    }
  }

  &__technologies {
    display: flex;
    flex-flow: row wrap;
    align-items: center;

    span {
      padding: 0 5px;
    }
  }
}
