<div class="title">
  <h1>Gheorghe Madalina-Eleonora</h1>
  <h2>Senior Frontend Developer</h2>
</div>

<div class="summary">
  <p>
    With <b>6+ years of experience</b> delivering scalable, enterprise-grade
    Angular applications that drive measurable business impact. I have deep
    expertise in <b>clean architecture</b>, <b>responsive UI design</b>, and
    <b>performance optimization</b>, having led to the development of critical
    systems ranging from real-time fraud detection platforms to internal
    self-service tools. I take full ownership across the development lifecycle —
    from
    <b
      >technical design and architecture decisions to deployment and production
      support</b
    >.
  </p>
  <p>
    Known for <b>proactive leadership</b>, I work closely with product, design,
    and backend teams to align technical solutions with strategic goals,
    ensuring quality, scalability, and user value at every stage.
  </p>
</div>

<div class="social-links">
  <div (click)="open('mailto:' + links.EMAIL)">
    <icon name="email" color="white"></icon>
  </div>
  <div (click)="open(links.LINKEDIN)">
    <icon name="linkedin" color="white"></icon>
  </div>
  <div (click)="open(links.MEDIUM)">
    <icon name="medium" color="white"></icon>
  </div>
  <div (click)="open(links.GITHUB)">
    <icon name="github" color="white"></icon>
  </div>
  <div (click)="open(links.INSTAGRAM)">
    <icon name="instagram" color="white"></icon>
  </div>
  <div (click)="open(links.FACEBOOK)">
    <icon name="facebook" color="white"></icon>
  </div>
</div>

<div class="download">
  <button (click)="open(links.FULL_CV)">Download Full CV</button>
  <button (click)="open(links.CV)">Download One-page CV</button>
</div>

@if (isWIP) {
<div class="wip">
  <h1>Work in progress</h1>
  <p>
    This page is currently under construction. Please check back later for the
    completed version.
  </p>
</div>
} @else {

<h2>Work experience</h2>

@for (experience of WORK_EXPERIENCES; track $index) {
<div class="experience">
  <div class="experience__title">
    <img [src]="experience.logo" alt="" />
    <div class="experience__title__left">
      <span class="experience__title__left__position">{{
        experience.position
      }}</span>
      <div>
        {{ experience.companyName }}
      </div>
    </div>
    <div class="experience__title__right__period">
      <span>{{ experience.startDate }}</span
      >-
      <span>{{ experience.endDate }}</span>
    </div>
  </div>
  <div class="experience__technologies">
    <icon name="setting" color="primary"></icon> <span>Tech stack:</span> @for
    (item of experience.technologies; track $index) {
    {{ item }}
    @if ($index < experience.technologies.length -1) {
    <span>| </span>
    } }
  </div>
  <p [innerHTML]="experience.description"></p>
</div>
} }
