@use "./assets/colors" as colors;
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

body {
  background-color: colors.$black;
  color: colors.$white;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  line-height: 1.5rem;
}

@media (max-width: 480px) {
  body {
    margin: 0 20px;
  }
}

@media (max-width: 600px) {
  body {
    margin: 0 30px;
  }
}

@media (min-width: 601px) and (max-width: 1024px) {
  body {
    margin: 0 60px;
  }
}

@media (min-width: 1025px) {
  body {
    margin: 0 120px;
  }
}
