<div class="experience">
  <div class="experience__title">
    <img [src]="experience.logo" alt="" />
    <div class="experience__title__left">
      <span class="experience__title__left__position">
        {{ experience.assignments[0].position }}</span
      >
      <div>
        {{ experience.companyName }}
      </div>
    </div>
    <div class="experience__title__right__period">
      {{
        experience.assignments[experience.assignments.length - 1].startDate
      }}&nbsp;-&nbsp;{{ experience.assignments[0].endDate }}
    </div>
  </div>
  <technologies
    [technologies]="getUniqueTechnologiesByCompany(experience)"
  ></technologies>
  <p [innerHTML]="experience.shortDescriptionOfAssessments"></p>
  <button (click)="switchShowMore(experience)">
    {{ experience.showMore ? "Show less" : "Show details about assignments" }}
  </button>
  @if (experience.showMore) {
  <div class="experience__assignments">
    <h4>Detailed assignments</h4>
    @for (assignment of experience.assignments; track $index) {
    <assignment [assignment]="assignment"></assignment>
    }
  </div>
  }
</div>
